code {
  margin-bottom: 20px;
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}

.code-container {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
}

.code-container .code-header {
  background: #0076bc;
  color: #fff;
  padding: 10px;
}

.code-content {
  padding: 20px;
  color: #cd6a51;
}

.selector {
  color: #dfc48c;
  margin-bottom: 0;
}

.properties-container {
  color: #e1e1e1;
  padding-left: 20px;
}

.properties-container p {
  margin-bottom: 0;
}

.highlight-code {
  color: #fac43e;
}
